<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <SitecoreDeployFolder>c:\inetpub\wwwroot\appveyor\website</SitecoreDeployFolder>
    <SitecoreWebUrl>http://appveyor</SitecoreWebUrl>
    <SitecoreAccessGuid>6d528340-9aee-4597-91b6-8d7c1e24dacb</SitecoreAccessGuid>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
    <DisableFileDeployment>True</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <DebugSymbols>true</DebugSymbols>
    <OutputPath>.\bin\Debug\</OutputPath>
    <EnableValidations>False</EnableValidations>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
    <DebugSymbols>false</DebugSymbols>
    <OutputPath>.\bin\Release\</OutputPath>
    <GeneratePackage>True</GeneratePackage>
    <PackageVersion>1</PackageVersion>
  </PropertyGroup>
</Project>